@keyframes headerAnim{
  0%{
    background-color: rgba(0, 0, 0, 0.4);
    top: 60px;
  }
  100%{
    background-color: rgba(0, 0, 0, 0.7);
    top: 0px;
  }
}

@keyframes btnAnim1 {
  0%{
    background-color: black;
    color: white;
  }
  100%{
    background-color: white;
    color: black;
  }
}

@keyframes btnAnim2 {
  0%{
    background-color: #015D8C;
    color: white;
  }
  100%{
    background-color: white;
    color: #015D8C;
  }
  
}

@keyframes btnAnim3 {
  0%{
    color: #015D8C;
  }
  100%{
    color: black;
  }
}

@keyframes btnAnim4 {
  0%{
    background-color: #015D8C;
    color: white;
  }
  100%{
    border: #015D8C 1px solid;
    background-color: white;
    color: #015D8C;
  }
  
}

@keyframes btnAnim5 {
  0%{
    background-color: white;
    color: #015D8C;
  }
  100%{
    background-color: #003853;
    color: white;
  }
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

header .hidden-header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  width: 100%;
  background-color: black;
}

header .hidden-header-container{
  display: flex;
  width: 80%;
  justify-content: space-between;
}

header .hidden-header-container .contato div h1{
  display: flex;
  margin: 0px;
}

header img{
  height: 32px;
}

header h1{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: white;
}

header .contato{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

header .contato div{
  display: flex;
  align-items: center;
}

header .contato div img{
  padding: 0px 10px;
}

header .busca{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

header .busca input{
  font-family: 'Poppins', sans-serif;
  width: 350px;
  height: 45px;
  border-radius: 20px;
  padding-left: 10px;
  background-color: rgba(217, 217, 217, 0.3);
  color: white;
}

header .sociais{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

header .sociais div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}

header .fixed-header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 60px;
  transition: background-color 0.5s ease, top 0.5s ease;
  z-index: 999;
}

header .fixed-header.active{
  background-color: black;
  top: 0px;
}

header .fixed-header-container{
  display: flex;
  width: 100%;
  justify-content: center;
}

header .fixed-header-container .icone{
  display: flex;
  width: 200px;
  justify-content: center;
}

header .fixed-header-container .icone img{
  width: 100px;
  height: 60px;
}

header .fixed-header-container .menu{
  display: flex;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

header .fixed-header-container .menu nav{
  display: flex;
  flex-direction: row;
}

header .fixed-header-container .menu nav .menu-item{
  display: flex;
  flex-direction: row;
}

header .fixed-header-container .menu nav .menu-item ul li .menu-item-text{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

header .fixed-header-container .menu nav .menu-item ul li .menu-item-text-primary{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  cursor: default;
}

header .fixed-header-container .menu nav .menu-item ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header .fixed-header-container .menu nav .menu-item ul li{
  position: relative;
  display: inline-block;
}

header .fixed-header-container .menu nav .menu-item ul li a{
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

header .fixed-header-container .menu nav .menu-item ul li a:hover{
  color: #015D8C;
}

header .fixed-header-container .menu nav .menu-item li ul{
  display: block;
  position: absolute;
  min-width: 200px;
  padding: 0;
  background-color: black;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

header .fixed-header-container .menu nav .menu-item li:hover ul{
  opacity: 1;
  visibility: visible;
  max-height: 500px;
}

header .fixed-header-container .menu nav .menu-item li ul li{
  display: block;
}

header .mobile{
  display: none;
}

header .btn-open-menu{
  display: none;
}

header .menu-mobile{
  display: none;
}

@media (max-width: 768px) {
  header .hidden-header{
    display: none;
  }

  header .fixed-header{
    display: none;
  }

  header .btn-open-menu{
    display: block;
  }

  header .mobile{
    display: flex;
    width: 100%;
    background-color: black;
  }

  header .show-menu{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 20px 6%;
    align-items: center;
  }

  header .show-menu img{
    width: 100%;
    height: 70px;
  }

  header .btn-open-menu i{
    color: white;
    font-size: 30px;
  }
  
  header .menu-mobile{
    display: block;
    background-color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0%;
    overflow: hidden;
    transition: 0.5s;
  }

  header .menu-mobile.abrir-menu{
    width: 70%;
  }

  header .menu-mobile.abrir-menu + .overlay-menu{
    display: block;
  }
  
  header .menu-mobile nav ul{
    text-align: right;
  }
  
  header .menu-mobile nav ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 300;
    text-decoration: none;
    display: block;
    padding: 20px 6%;
  }
  
  header .menu-mobile nav ul li a:hover{
    background-color: #015D8C;
    color: black;
  }
  
  header .menu-mobile .btn-close{
    padding: 20px 4%;
  }
  
  header .menu-mobile .btn-close i{
    color: white;
    font-size: 30px;
  }

  header .overlay-menu{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 8888;
    display: none;
  }
}

body #inst-banner{
  display: flex;
  width: 100%;
  height: 650px;
  background-image: url(../assets/imgs/backgrounds/bg-quem-somos.png);
  background-size: cover;
}

body #inst-banner .inst-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 40px 40px;
}

body #inst-banner .inst-container .inst-title{
  margin: 20px 0px;
}

body #inst-banner .inst-container .inst-title h1{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 36px;
  padding: 10px 0px;
}

body #inst.banner .inst-container .inst-text{
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

body #inst-banner .inst-container .inst-text h2{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 22px;
  pad: 10px 0px;
  line-height: 35px;
  width: 90%;
  text-align: justify;
}

body #inst-banner .inst-container .inst-text h2 strong{
  font-weight: 600;
}

body #about{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #015D8C;
}

body #about .about-container{
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 40px 40px;
}

body #about .about-container .about-title{
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

body #about .about-container .about-title h1{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 36px;
  padding: 10px 0px;
  text-align: center;
}

body #about .about-container .about-box{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

body #about .about-container .about-box .about-text{
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
}

body #about .about-container .about-box .about-text .about-text-box{
  display: flex;
  margin: 20px 0px;
}

body #about .about-container .about-box .about-text .about-text-box h3{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  text-align: justify;
}

body #about .about-container .about-box .about-text .about-text-box h3 strong{
  font-weight: 600;
}

body #about .about-container .about-box .about-imgs{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

body #about .about-container .about-box .about-imgs .about-img-box{
  margin: 20px 0px;
}

body #dif{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: black;
}

body #dif .dif-container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 40px 0px;
}

body #dif .dif-container .dif-title{
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body #dif .dif-container .dif-title h1{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
}

body #dif .dif-right{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 20px 0px;
}

body #dif .dif-right .dif-box-right{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 80%;
  background-color: #015D8C;
  height: 270px;
  position: relative;
}

body #dif .dif-right .dif-box-right .dif-box-right-img{
  display: flex;
  position: absolute;
  align-items: center;
  height: 170px;
  top: 50px;
  left: -100px;
}

body #dif .dif-right .dif-box-right .dif-box-right-text{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px 0px;
  height: 100%;
  justify-content: flex-start;
}

body #dif .dif-right .dif-box-right .dif-box-right-text h2{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

body #dif .dif-right .dif-box-right .dif-box-right-text h3{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-align: justify;
  color: white;
  line-height: 25px;
  padding-right: 30px;
}

body #dif .dif-right .dif-box-right .dif-box-right-text h3 strong{
  font-weight: 600;
}

body #dif .dif-left{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin: 20px 0px;
}

body #dif .dif-left .dif-box-left{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  background-color: #015D8C;
  height: 270px;
  position: relative;
}

body #dif .dif-left .dif-box-left .dif-box-left-img{
  display: flex;
  position: absolute;
  align-items: center;
  height: 170px;
  top: 50px;
  right: -100px;
}

body #dif .dif-left .dif-box-left .dif-box-left-text{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px 0px;
  height: 100%;
  justify-content: flex-start;
}

body #dif .dif-left .dif-box-left .dif-box-left-text h2{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
  padding-left: 30px;
}

body #dif .dif-left .dif-box-left .dif-box-left-text h3{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-align: justify;
  color: white;
  line-height: 25px;
  padding-left: 30px;
}

body #dif .dif-left .dif-box-left .dif-box-left-text h3 strong{
  font-weight: 600;
}

body #ona{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #015D8C;
}

body #ona .ona-container{
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 40px 40px;
}

body #ona .ona-container .ona-title{
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

body #ona .ona-container .ona-title h1{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 36px;
  padding: 10px 0px;
  text-align: center;
}

body #ona .ona-container .ona-box{
  background-color: white;
  border-radius: 20px;
  padding: 40px;
}

body #ona .ona-container .ona-box .ona-text h3{
  font-family: 'Poppins',sans-serif;
  text-align: justify;
  font-size: 16px;
  line-height: 25px;
}

body #ona .ona-container .ona-box .ona-text strong{
  font-weight: 600;
}

body #ona .ona-container .ona-box .ona-points{
  display: flex;
  margin: 20px 0px;
}

body #ona .ona-container .ona-box .ona-points .ona-mission{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 40px;
  border-right: rgba(1, 93 , 140, 0.3) 2px solid;
}

body #ona .ona-container .ona-box .ona-points .ona-mission .ona-mission-title h1{
  padding-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

body #ona .ona-container .ona-box .ona-points .ona-mission .ona-mission-text h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}

body #ona .ona-container .ona-box .ona-points .ona-vision{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 40px;
  border-right: rgba(1, 93 , 140, 0.3) 2px solid;
}

body #ona .ona-container .ona-box .ona-points .ona-vision .ona-vision-title h1{
  padding-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

body #ona .ona-container .ona-box .ona-points .ona-vision .ona-vision-text h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}

body #ona .ona-container .ona-box .ona-points .ona-value{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 40px;
}

body #ona .ona-container .ona-box .ona-points .ona-value .ona-value-title h1{
  padding-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

body #ona .ona-container .ona-box .ona-points .ona-value .ona-value-text h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

footer .footer-container{
  display: flex;
  margin: 40px 40px;
}

footer .footer-information{
  display: flex;
  flex-direction: column;
}

footer .footer-information .footer-address{
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  line-height: 25px;
  margin: 10px 0px;
}

footer .footer-information .footer-address .unit h2{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 600;
}

footer .footer-information .footer-address .address h2{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: white;
}

footer .footer-information .footer-tel{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  line-height: 25px;
}

footer .footer-information .footer-tel .name h1{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

footer .footer-information .footer-tel .tel{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 18px;
}

footer .footer-menu{
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 70px;
  align-items: flex-end;
}

footer .footer-menu div a{
  text-decoration: none;
}

footer .footer-menu div h1 a{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

footer .footer-second-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px 0px;
}

footer .footer-second-container .imgs-container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

footer .footer-second-container .imgs-container div img{
  width: 100%;
  height: 150px;
}

@media (max-width: 768px) {
  body #inst-banner{
    height: auto;
    background-size: cover;
    justify-content: center;
  }

  .inst-title{
    text-align: center;
  }

  .inst-text{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  body #inst-banner .inst-container .inst-text h2{
    width: 100%;
    text-align: justify;
  }

  body #about .about-container .about-box{
    flex-direction: column;
  }

  body #about .about-container .about-box .about-text .about-text-box h3{
    text-align: justify;
  }

  body #about .about-container .about-box .about-imgs{
    align-items: center;
  }

  body #about .about-container .about-box .about-imgs .about-img-box img{
    width: 450px;
    padding: 30px 0px;
  }

  body #dif .dif-right .dif-box-right .dif-box-right-img{
    left: -120px;
  }

  body #dif .dif-right .dif-box-right .dif-box-right-img img{
    height: 180px;
    width: 270px;
  }

  body #dif .dif-right .dif-box-right .dif-box-right-text{
    margin: 20px 20px;    
  }

  body #dif .dif-right .dif-box-right .dif-box-right-text h2{
    font-size: 18px;
  }

  body #dif .dif-right .dif-box-right .dif-box-right-text h3{
    font-size: 12px;
    padding-right: 0px;
  }

  body #dif .dif-left .dif-box-left .dif-box-left-img{
    right: -120px;
  }

  body #dif .dif-left .dif-box-left .dif-box-left-img img{
    height: 180px;
    width: 270px;
  }

  body #dif .dif-left .dif-box-left .dif-box-left-text{
    margin: 20px 20px;    
  }

  body #dif .dif-left .dif-box-left .dif-box-left-text h2{
    font-size: 18px;
  }

  body #dif .dif-left .dif-box-left .dif-box-left-text h3{
    font-size: 12px;
    padding-right: 0px;
  }

  body #ona .ona-container .ona-box .ona-points{
    flex-direction: column;
  }

  body #ona .ona-container .ona-box .ona-points .ona-mission{
    border-right: 0px;
    border-bottom: rgba(1, 93 , 140, 0.3) 2px solid;
  }

  body #ona .ona-container .ona-box .ona-points .ona-vision{
    border-right: 0px;
    border-bottom: rgba(1, 93 , 140, 0.3) 2px solid;
  }

  footer .footer-information .footer-address{
    margin: 0px;
  }
  
  footer .footer-information .footer-tel{
    margin-top: 10px;
  }

  footer .footer-menu{
    justify-content: space-around;
  }
}

@media (max-width: 425px) {
  body #inst-banner .inst-container .inst-title h1{
    text-align: center;
  }

  .inst-text{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  body #inst-banner .inst-container .inst-text h2{
    width: 100%;
    text-align: justify;
  }

  body #isnt.banner .inst-container .inst-text h2{
    width: 100%;
    text-align: justify;
  }

  body #about .about-container .about-box .about-text{
    padding: 0;
  }

  body #about .about-container .about-box .about-text .about-text-box h3{
    text-align: justify;
  }

  body #about .about-container .about-box .about-imgs .about-img-box img{
    width: 350px;
  }

  body #dif .dif-right .dif-box-right{
    width: 100%;
  }

  body #dif .dif-left .dif-box-left{
    width: 100%;
  }

  body #dif .dif-right .dif-box-right .dif-box-right-img{
    display: none;
  }

  body #dif .dif-left .dif-box-left .dif-box-left-img{
    display: none;
  }

  body #dif .dif-right .dif-box-right .dif-box-right-text{
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 20px;
  }

  body #dif .dif-left .dif-box-left .dif-box-left-text{
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 20px;
  }

  body #dif .dif-left .dif-box-left .dif-box-left-text h2{
    padding-left: 0;
  }

  body #dif .dif-left .dif-box-left .dif-box-left-text h3{
    padding-left: 0;
  }

  footer .footer-container{
    flex-direction: column;
  }

  footer .footer-menu{
    margin: 40px 0px;
    align-items: flex-start;
  }

  footer .footer-second-container .imgs-container div img{
    height: 90px;
  }
}